@media only screen and (max-width: 768px) {
  .title[data-responsive="md"],
  .listHeader[data-responsive="md"] {
    display: none !important;
  }
}

@media only screen and (max-width: 1010px) {
  .title[data-responsive="lg"],
  .listHeader[data-responsive="lg"] {
    display: none !important;
  }
}

@media only screen and (max-width: 1280px) {
  .title[data-responsive="xl"],
  .listHeader[data-responsive="xl"] {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .listBody[data-responsive="md"] {
    display: none !important;
  }
}

@media only screen and (min-width: 1010px) {
  .listBody[data-responsive="lg"] {
    display: none !important;
  }
}

@media only screen and (min-width: 1280px) {
  .listBody[data-responsive="xl"] {
    display: none !important;
  }
}
